<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>COVID-19 Flight Analytics</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

</head>
<body>
    <div id="map"></div>

    <div id="chartBox">
      <div id="chart"></div>
    </div>

    <div class="box">
        <h1 id="status"></h1>
        <mat-list>
            <mat-list-item>Selected Date: <p id="dateData"></p> </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>Total flights: <p id="totalFlights"></p></mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>World confirmed data: <p id="worldConfirmedData"></p> </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>World recovered data: <p id="worldRecoveredData"></p> </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>World death data: <p id="worldDeathData"></p> </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>Country: <p id="countryName"></p> </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>Country confirmed data: <p id="countryConfirmedData"></p> </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>Country recovered data: <p id="countryRecoveredData"></p> </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>Country death data: <p id="countryDeathData"></p> </mat-list-item>
            <mat-divider class="divider"></mat-divider>
          </mat-list> 

          <mat-form-field class="calendar">
            <mat-label>Choose a date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (dateChange)="updateCalcs($event)">
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
    <router-outlet></router-outlet>
</body>

</html>
