#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    pointer-events:all;
}
.calendar{
    position: absolute;
    top: 5%;
    left: 0;
    margin: 1em;
    width: 50%;
}
.box{
    position: absolute;
    top: 0;
    left: 80%;
    width: 20%;
    height: 100%;
    background-color:#f3f3f3;
}
.box mat-list{
    position: absolute;
    top: 15%;
}
.divider{
    width: 20vw;
}
mat-list-item p{
    margin-left: 2px;
    font-size: 15px;
    word-wrap: break-word;
}
#status{
    position: absolute;
    top: 0;
    background-color:red;
    color:white;
    margin: 0.5em;
    width: 90%;
}
#myDiv{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 199;
}
#chartBox{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f3f3f3;
    width: 80%;

    overflow-y: hidden;
    transition: visibility 1s;
    transition-duration: 12s;
    transition-timing-function: ease-in-out;
}