#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events:all;
}
.calendar{
    position: absolute;
    top: 5%;
    left: 0;
    margin: 1em;
    width: 50%;
}
.box{
    position: absolute;
    top: 0;
    left: 80%;
    width: 20%;
    height: 100%;
    background-color:#f3f3f3;
}
.box mat-list{
    position: absolute;
    top: 15%;
}
.divider{
    width: 20vw;
}
mat-list-item p{
    margin-left: 2px;
    font-size: 15px;
    word-wrap: break-word;
}
.slider{
    position: absolute;
    top: 20px;
    left: 0%;
}
#status{
    position: absolute;
    top: 0;
    background-color:red;
    color:white;
    margin: 0.5em;
    width: 100%;
}