<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>COVID-19 Flight Analytics</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

</head>
<body>
    <div id="map"></div>
    <div class="box">
        <mat-list>
            <mat-list-item>ID: <p>{{ID}}</p> </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>Ident: <p>{{Ident}}</p> </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>Name: <p>{{Name}}</p> </mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>Continent: <p>{{Continent}}</p></mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>ISO_Country: <p>{{ISO_Country}}</p></mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>ISO_Region: <p>{{ISO_Region}}</p></mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>Municipality: <p>{{Municipality}}</p></mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>Scheduled_Service: <p>{{Scheduled_Service}}</p></mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>GPS_Code: <p>{{GPS_Code}}</p></mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>IATA_Code: <p>{{IATA_Code}}</p></mat-list-item>
            <mat-divider class="divider"></mat-divider>
            <mat-list-item>Local_Code: <p>{{Local_Code}}</p></mat-list-item>
          </mat-list>
        <mat-form-field class="calendar">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker [startAt]="date" #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <router-outlet></router-outlet>
</body>

</html>
